.Food{
    background-color: crimson;
}
.Dishes{
    border: 1px solid;
    padding: 10px;
    color: cadetblue;
    text-decoration: none;
    }
    .list{
    color:darkblue;
    font-weight:bold;
    background-color:bisque;
    padding: 5px; 
 }
 .list:hover{
     background-color:blueviolet;
     color:black;
 }